$primaryColor: #282a3a;
$accentColor: #6d1600;
$additionalColor: #f6f6f6;
$primaryFontFamily: "Inter";
$secondaryFontFamily: "Playfair Display";
$additionalFontFamily: "Playfair Display SC";
$topMargins: (8, 16, 24, 40, 80);
$rightMargins: (16, 40);
$fontSizes: (14, 16, 20, 24, 36, 64);
$fontWeights: (700, 500);
$breakpoints: (600px, 1000px);
