/*HERO*/
.navbar-links {
  gap: 10px;
}

.primaryBtn-product {
  background-color: #6d1600;
  color: #ffffff;
  font-family: "Playfair Display SC";
  position: relative;
  max-width: 363px;
  padding: 24px 68px 24px 48px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  transition-property: background-color;
  transition-duration: 500ms;
}
.primaryBtn-product:hover, .primaryBtn-product:active {
  background-color: #a92200;
}

.primaryBtn-arrow-icon-explore {
  position: absolute;
  top: 30px;
  right: 30px;
}

.hero-image-small-screen {
  max-width: 60%;
}

.hero-image-big-screen {
  display: none;
}

.image-radius-tl-br {
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.image-radius-tr-bl {
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}

.social-proof-section {
  justify-content: center;
  gap: 40px;
}

/*PRODUCTS*/
.product-slider-btns {
  max-width: 556px;
  min-height: 77px;
  background-color: #f6f6f6;
  border-radius: 40px;
  padding: 16px 52px;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
}

.product-slider-btn {
  padding: 16px 45px;
  border: none;
  background: none;
  border-radius: 40px;
}

.product-slider-btn:focus,
.product-slider-btn:active {
  background-color: #ffffff;
}

.product-card {
  max-width: 302px;
  padding: 16px 0;
  box-sizing: border-box;
}

.product-star-icon {
  margin-bottom: 5px;
}

.container-img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}
.container-img-about-us {
  max-height: 378px;
}
.container-img-about-us-below {
  max-height: 378px;
  align-self: flex-end;
}

.product-card-btn {
  background-color: #6d1600;
  color: #ffffff;
  font-family: "Playfair Display SC";
  position: relative;
  max-width: 32px;
  padding: 8px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  transition-property: background-color;
  transition-duration: 500ms;
}
.product-card-btn:hover, .product-card-btn:active {
  background-color: #a92200;
}
.product-card-btn:hover {
  cursor: pointer;
}

.glide__slides li.slider-card-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-slider-bullet {
  border-radius: 100%;
  width: 8px;
  height: 12px;
  border: none;
  background-color: #d9d9d9;
}
.product-slider-bullet:active, .product-slider-bullet:focus, .product-slider-bullet:hover {
  background-color: #6d1600;
}
.product-slider-bulletswipeable {
  cursor: grab;
}

/*ABOUT-US*/
.primaryBtn-read-more {
  background-color: #6d1600;
  color: #ffffff;
  font-family: "Playfair Display SC";
  position: relative;
  max-width: 280px;
  padding: 24px 78px 24px 48px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  transition-property: background-color;
  transition-duration: 500ms;
}
.primaryBtn-read-more:hover, .primaryBtn-read-more:active {
  background-color: #a92200;
}

.primaryBtn-arrow-icon-read-more {
  position: absolute;
  top: 20px;
  right: 25px;
}

.about-us-section {
  display: grid;
  width: 100%;
  gap: 80px;
}

.about-us-img-container {
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 375px) {
  .primaryBtn-arrow-icon-explore {
    position: absolute;
    top: 20px;
    right: 30px;
  }
}
@media only screen and (min-width: 601px) {
  .mr-16 {
    margin-right: 8px;
  }
  .mr-40 {
    margin-right: 20px;
  }
  /*HERO*/
  .navbar-links {
    gap: 56px;
  }
  .primaryBtn-product {
    background-color: #6d1600;
    color: #ffffff;
    font-family: "Playfair Display SC";
    position: relative;
    max-width: 363px;
    padding: 24px 98px 24px 48px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    transition-property: background-color;
    transition-duration: 500ms;
  }
  .primaryBtn-product:hover, .primaryBtn-product:active {
    background-color: #a92200;
  }
  .social-info-group {
    padding-right: 40px;
    border-right: 1px solid;
    -o-border-image: linear-gradient(to top, rgb(255, 255, 255) 0%, rgb(40, 42, 58) 50%, rgb(255, 255, 255) 100%);
       border-image: linear-gradient(to top, rgb(255, 255, 255) 0%, rgb(40, 42, 58) 50%, rgb(255, 255, 255) 100%);
    border-image-slice: 1;
  }
  /*PRODUCT*/
  .product-slider-btns {
    flex-wrap: nowrap;
  }
  .glide__slides li.slider-card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1001px) {
  .mr-16 {
    margin-right: 16px;
  }
  .mr-40 {
    margin-right: 40px;
  }
  body {
    padding: 32px 80px 0;
  }
  /*HERO*/
  .hero-text {
    width: 45%;
  }
  .hero-image-small-screen {
    display: none;
  }
  .hero-image-big-screen {
    display: inline-block;
  }
  .image-radius-tl-br {
    border-radius: 0;
  }
  .image-radius-tr-bl {
    border-radius: 0;
  }
}
@media only screen and (min-width: 1351px) {
  .about-us-section {
    display: grid;
    width: 100%;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
  }
  .about-us-img-container {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}/*# sourceMappingURL=main.css.map */