@use "./variables";
@use "sass:color";

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype-variations");
  font-weight: 100 1000;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 1000;
}

@font-face {
  font-family: "Playfair Display SC";
  src: url("../assets/fonts/Playfair_Display_SC/PlayfairDisplaySC-Regular.ttf");
  font-weight: 400;
}

@function setResponsiveFontSize($fontSize, $vwParam) {
  @return clamp($fontSize - 0.25rem, 0.75rem + $vwParam, $fontSize);
}

/*HELPER CLASSES*/

@each $topMargin in variables.$topMargins {
  .mt-#{$topMargin} {
    margin-top: #{$topMargin}px;
  }
}

@each $rightMargin in variables.$rightMargins {
  .mr-#{$rightMargin} {
    margin-right: #{calc($rightMargin/4)}px;
  }
}

@each $fontSize in variables.$fontSizes {
  .fs-#{$fontSize} {
    @if ($fontSize > 20) {
      font-size: setResponsiveFontSize(#{$fontSize}px, 3.5vw);
    } @else {
      font-size: setResponsiveFontSize(#{$fontSize}px, 1vw);
    }
  }
}

@each $fontWeight in variables.$fontWeights {
  .fw-#{$fontWeight} {
    font-weight: $fontWeight;
  }
}

.m-auto {
  margin: auto;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-80 {
  margin-bottom: 80px;
}

.gap-24 {
  gap: 24px;
}

.fm-secondary {
  font-family: variables.$secondaryFontFamily;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.d-inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.lh-1-6 {
  line-height: 1.6;
}

.lh-1-9 {
  line-height: 1.9;
}

.primary-color-70alpha {
  color: color.adjust(variables.$primaryColor, $alpha: -0.3);
}

.hr-style {
  border-top: 1px solid;
  border-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0%,
    rgba(40, 42, 58, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  border-image-slice: 1;
}

.section-main-heading {
  color: color.adjust(variables.$primaryColor, $alpha: -0.44);
}

body {
  color: variables.$primaryColor;
  font-family: variables.$primaryFontFamily;
  font-weight: 400;
  padding: 32px 20px;
  font-size: setResponsiveFontSize(16px, 1vw);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: variables.$primaryColor;
}
